.about-container {
  height: 350px;
  background-color: #edefee;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.about-section {
  width: 50%;
}

.about-section h2,
h6 {
  font-family: "Markazi Text", serif;
  color: #333;
}
.about-section h2 {
  font-size: 40px;
  font-weight: 700px;
}
.about-section h6 {
  font-size: 36px;
}

.about-section p {
  color: #333;
}

.image-section {
  width: 40%;
  position: relative;
  margin-top: 50px;
}

.image,
.image-overlap {
  width: 260px;
  background-size: 300px 250px;
  background-repeat: no-repeat;
}

.image {
  width: 50%;
  height: 250px;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images//Mario\ and\ Adrian\ A.jpg");
  z-index: 2;
}

.image-overlap {
  left: 150px;
  top: -30px;
  background-image: url("../images//Mario\ and\ Adrian\ b.jpg");
  z-index: 1;
}

h2,
h6 {
  margin: 0;
}

@media screen and (max-width: 992px) {
  .image,
  .image-overlap {
    width: 260px;
    background-size: 320px 250px;
    background-repeat: no-repeat;
  }
  .image {
    width: 80%;
    height: 250px;
    left: -120px;
  }
  .image-overlap {
    left: 50px;
    top: -40px;
  }
}

@media screen and (max-width: 768px) {
  .image {
    width: 80%;
    height: 250px;
    left: -40px;
  }
  .image-overlap {
    left: 50px;
    top: -40px;
  }
}

@media screen and (max-width: 576px) {
  .image,
  .image-overlap {
    width: 260px;
    background-size: 220px 250px;
    background-repeat: no-repeat;
  }

  .image-section {
    width: 40%;
  }
  .image {
    width: 80%;
    height: 250px;
    left: -50px;
  }
  .image-overlap {
    left: 50px;
    top: -30px;
  }
}
