#form-reserve-table {
  height: 700px;
  background-color: #edefee;
  padding-top: 100px;
}

#form-reserve-table h1 {
  color: #333;
}

form {
  display: block;
  width: 50%;
  margin: 0 auto;
  border: 1px solid #495e57;
  padding: 50px;
}

form label,
input {
  padding: 5px 0;
}

.btn-reserve-table {
  border: none;
}

.feedback-form {
  color: #ff0000;
}

@media screen and (max-width: 768px) {
  form {
    width: 80%;
  }
}
