#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #edefee;
  padding-top: 250px;
}

.title-week {
  height: 0px;
  font-family: "Markazi Text", serif;
  font-size: 36px;
  font-weight: bold;
  align-self: flex-start;
  padding-left: 15px;
}

.menu-link {
  width: 200px;
  color: #333;
  text-align: center;
  font-family: "Karla", sans-serif;
  font-size: 24px;
  font-weight: bold;
  align-self: flex-end;
  background-color: #f4ce14;
  padding: 16px;
  border-radius: 10px;
  position: relative;
  right: 130px;
  bottom: 20px;
}

.card-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.card-dinner {
  min-height: 300px;
  width: 30%;
  box-sizing: border-box;
  margin-top: 20px;
}

.card-dinner img {
  height: 200px;
  width: 300px;
  display: block;
}

.card-dinner h6,
.card-dinner span {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  width: 50%;
  margin: 16px 0;
}

.card-dinner h6,
.price {
  font-family: "Markazi Text", serif;
}

.price {
  color: #ee9972;
}

.card-dinner p {
  height: 150px;
  width: 80%;
  margin-bottom: 10px;
}

.card-dinner p,
span {
  font-family: "Karla", sans-serif;
  color: #333;
  font-size: 14px;
}

.card-dinner .orderDelivery {
  width: 50%;
  text-align: center;
  background-color: #f4ce14;
  padding: 10px;
  border-radius: 16px;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  #menu {
    padding-top: 250px;
  }

  .card-dinner .orderDelivery {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .menu-link {
    position: relative;
    right: 15px;
    bottom: 20px;
  }

  .card-dinner img {
    height: 150px;
    width: 200px;
  }
}

@media screen and (max-width: 576px) {
  .card-container {
    display: block;
    width: 50%;
  }

  .title-week {
    font-size: 32px;
  }

  .menu-link {
    position: relative;
    right: 15px;
  }

  .card-dinner {
    width: 100%;
  }

  .card-dinner img {
    height: 250px;
    width: 300px;
  }
  .card-dinner h6 {
    font-size: 24px;
  }

  .card-dinner .price {
    font-size: 24px;
    position: relative;
    left: 100px;
  }

  .card-dinner p {
    height: 150px;
    width: 100%;
    margin-bottom: 10px;
  }

  .card-dinner p {
    font-size: 16px;
  }

  .card-dinner .orderDelivery {
    width: 100%;
  }
}
