#testimonials {
  background-color: #495e57;
  padding: 50px;
}

.container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
  background-color: #edefee;
  padding: 20px;
}

.testimonial {
  border: 1px solid #333;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: "Markazi Text", serif;
  color: #edefee;
  text-align: center;
}
.rating {
  font-family: "Karla", sans-serif;
  text-align: center;
}

.img-1 {
  background-image: url("../images/people1.png");
}

.img-2 {
  background-image: url("../images/people2.png");
}

.img-3 {
  background-image: url("../images/people3.png");
}

.img-4 {
  background-image: url("../images/people4.png");
}

.bi-star-fill {
  color: #f4ce14;
}

@media screen and (max-width: 576px) {
  .container {
    width: 100%;
  }
}
